<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Modal Practice</title>
        <script src="./index.js"></script>
    </head>
    <body>
        <strong>{{ message }}</strong>
    </body>
</html>